<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.privilege.beans.Privilege">
	<resultMap type="com.privilege.beans.Privilege" id="privilegeRM">
		<id property="id" column="privilegeID"/>
		<result property="pid" column="privilegePID"/>
		<result property="privilegeName" column="privilegeName"/>
		<result property="url" column="url"/>
		<result property="icon" column="icon"/>
		<result property="orderNumber" column="orderNumber"/>
	</resultMap>
	
	
	<insert id="insert" parameterType="com.privilege.beans.Privilege">
		insert into privilege 
		(privilegePID,privilegeName,url,icon,orderNumber)
		values(#{pid},#{privilegeName},#{url},#{icon},#{orderNumber})
	</insert>
	<delete id="delete" parameterType="com.privilege.beans.Privilege">
		delete from privilege
		where privilegeID=#{id}
	</delete>
	<update id="update" parameterType="com.privilege.beans.Privilege">
		update privilege set
		privilegePID=#{pid},privilegeName=#{privilegeName},url=#{url},icon=#{icon},orderNumber=#{orderNumber}
		where privilegeID=#{id}
	</update>
	<select id="selectOne" parameterType="com.privilege.beans.Privilege" resultMap="privilegeRM">
		select * from privilege
		where privilegeID=#{id}
	</select>
	<select id="selectList" parameterType="map" resultMap="privilegeRM">
		select * from privilege 
	</select>
	<select id="selectTree" parameterType="com.privilege.beans.Privilege" resultMap="privilegeRM">
		select * from privilege
		where	1=1
		<if test="id != null ">and privilegePID=#{id}	</if>
	</select>
	<select id="selectCount" parameterType="Integer" resultType="Integer">
		select count(*) from privilege
		where privilegePID=#{id}
	</select>
	<select id="getMenus" parameterType="com.privilege.beans.User" resultMap="privilegeRM">
		select p.*
		from privilege p,role_privilege rp,user_role ur
		where p.privilegeID= rp.privilegeID and rp.roleID = ur.roleID and userID = #{id};
	</select>
	<select id="selectPrivileges" parameterType="com.privilege.beans.Role" resultMap="privilegeRM">
		select p.*
		from privilege p,role_privilege rp
		where p.privilegeID = rp.privilegeID and rp.roleID=#{id};
	</select>
	<delete id="deleteRelativity" parameterType="com.privilege.beans.Privilege">
		delete from role_privilege
		where privilegeID=#{id}
	</delete>
	
	<select id="selectRoles" parameterType="com.privilege.beans.Privilege" resultType="com.privilege.beans.Role">
		select r.*,r.roleID as id
		from role r,role_privilege rp
		where r.roleID=rp.roleID and privilegeID = #{id}
	</select>
	<delete id="deleteRoles" parameterType="com.privilege.beans.Privilege">
		delete from role_privilege
		where privilegeID = #{id}
	</delete>
	<insert id="setRoles" parameterType="com.privilege.beans.Role_Privilege">
		insert into role_privilege
		(roleID,privilegeID)
		values
		(#{roleID},#{privilegeID})
	</insert>
</mapper>