<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.privilege.beans.Role">
	<resultMap type="com.privilege.beans.Role" id="roleRM">
		<id property="id" column="roleID"/>
		<result property="roleName" column="roleName"/>
		<result property="roleDesc" column="roleDesc"/>
	</resultMap>
	<resultMap type="com.privilege.beans.Role" id="role_privilegeRM" extends="roleRM">
		<collection property="users" ofType="com.privilege.beans.User" >
			<id property="id" column="userID"/>
			<result property="username" column="username"/>
		</collection>
	</resultMap>
	
	<insert id="insert" parameterType="com.privilege.beans.Role">
		insert into role 
		(roleName,roleDesc)
		values(#{roleName},#{roleDesc})
	</insert>
	<delete id="delete" parameterType="com.privilege.beans.Role">
		delete from role
		where roleID=#{id}
	</delete>
	<update id="update" parameterType="com.privilege.beans.Role">
		update role set
		roleName=#{roleName},roleDesc=#{roleDesc}
		where roleID=#{id}
	</update>
	<select id="selectOne" parameterType="com.privilege.beans.Role" resultMap="role_privilegeRM">
		select * from role
		where roleID=#{id}
	</select>
	<select id="selectList" parameterType="map" resultMap="roleRM">
		select * from role
	</select>
	
	<select id="selectRoles" parameterType="com.privilege.beans.User" resultMap="roleRM">
		select r.*
		from user_role ur,role r
		where ur.roleID = r.roleID and ur.userID = #{id }
	</select>
	
	<insert id="saveRelativity" parameterType="com.privilege.beans.Role_Privilege">
		insert into role_privilege
		(roleID,privilegeID)
		values(#{roleID},#{privilegeID})
	</insert>
	
	<delete id="deleteUsers" parameterType="com.privilege.beans.Role">
		delete from user_role
		where roleID=#{id}
	</delete>
	<delete id="deletePrivileges" parameterType="com.privilege.beans.Role">
		delete from role_privilege
		where roleID=#{id}
	</delete>
	
	<select id="selectUsers" parameterType="com.privilege.beans.Role" resultType="com.privilege.beans.User">
		select u.*,u.userID as id
		from user u,user_role ur
		where u.userID = ur.userID and ur.roleID = #{id}
	</select>
	
	<insert id="setUser" parameterType="com.privilege.beans.User_Role">
		insert into user_role
		(userID,roleID)
		values
		(#{userID},#{roleID})
	</insert>
</mapper>